.secretArea {
    width: 30px;
    height: 30px;
    // background-color: black;
}

.secretArea.left {
    position: absolute;
    top: 0;
    left: 0;
}

.secretArea.right {
    position: absolute;
    top: 0;
    right: 0;
}