.startNumForm {
    font-size: 1.5rem;

    input {
        margin-right: 15px;
        width: 15rem;
        height: 4rem;
        border-radius: 5rem;
        border: 1px solid #ccc;
        text-indent: 1rem;
    }

    &::-webkit-outer-spin-button, ::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}